body
{
	background-color: #303030;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}
.wrapper
{
	width: 100%;
}
.header
{
	width: 100%;
	padding: 40px 0; /* pion/poziom */
}
.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
}
.nav
{
	width: 100%;
	height: 40px;
	padding: 10px 0;
	background-color: #C34F4F;
	text-align: center;
	border-top: 1px solid #751B1B;
	border-bottom: 1px solid #751B1B;
}
.navninja
{
	height: 62px;
	display: none;
}
.navninjaactive
{
	display: block;
}
.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
}
.socials
{
	width: 100%;
	text-align: center;
	background-color: #292929;
}
.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.fb
{
	width: 250px;
	height: 155px;
	float: left;
}
.fb:hover
{
	background-color: #4668B3;
	cursor: pointer;
}
.yt
{
	width: 250px;
	height: 155px;
	float: left;
}
.yt:hover
{
	background-color: #D94348;
	cursor: pointer;
}
.tw
{
	width: 250px;
	height: 155px;
	float: left;
}
.tw:hover
{
	background-color: #3095D3;
	cursor: pointer;
}
.gplus
{
	width: 250px;
	height: 155px;
	float: left;
}
.gplus:hover
{
	background-color: #D95333;
	cursor: pointer;
}
.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 40px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #FFFFFF;
	height: 40px;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751B1B;
}
ol > li:first-child
{
	border-left: 1px dashed #751B1B;
}
ol > li:hover
{
	background-color: #CF6969;
}
ol > li:hover > a
{
	color: #451717;
}
ol > li:hover > ul
{
	display: block;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol > li > ul > li
{
	background-color: #CF6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751B1B;
}
ol > li > ul > li:hover
{
	background-color: #C34F4F;
}
ol > li > ul > li:hover > a
{
	color: #451717;
}